.navbar-brand {
  width: 90px;
}

header {
  height: 100vh;
}
header .portada {
  height: 80%;
  position: relative;
  text-align: center;
  overflow: hidden;
}
header .portada nav {
  height: 20%;
}
header .portada .titulo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .portada .img-portada {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

div .titulo-principal {
  font-size: 40px;
  margin-top: 50px;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 15px auto;
}
.grid-container .grid-item {
  justify-content: center;
  text-align: center;
  margin: 20px 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.grid-container .grid-item img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 10px auto;
}

div ul .item-faqs {
  font-size: 24px;
  transform: translate(-100%, 0px);
  opacity: 0;
  animation: item-slide 0.5s forwards;
}

@keyframes item-slide {
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
.item-faqs:not(:last-child) {
  margin-bottom: 20px;
}

.item-faqs:nth-child(1) {
  animation-delay: 0s;
}

.item-faqs:nth-child(2) {
  animation-delay: 0.25s;
}

.item-faqs:nth-child(3) {
  animation-delay: 0.5s;
}

.item-faqs:nth-child(4) {
  animation-delay: 0.75s;
}

/* SECTION TRIPS */
#tripsInfo {
  height: 120px;
}

.about-container {
  display: grid;
  grid-template-columns: auto;
}

.about-container img {
  width: 400px;
  border-radius: 50%;
  margin: 50px auto;
}
.about-container .about-p {
  margin: auto 50px;
  text-align: center;
}

.cabecera {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
}
.cabecera .cabecera__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(50%);
}
.cabecera .cabecera__titulo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid-containerTrips {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
.grid-containerTrips img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-containerTrips img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

@media (max-width: 992px) {
  .nav-item {
    text-align: center;
  }
  .grid-container {
    grid-template-columns: 1fr;
    margin: 20px auto;
  }
  .grid-container .grid-item {
    margin: 20px auto;
  }
  .grid-container .grid-item img {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: 10px auto;
  }
  section #about {
    padding: 50px;
  }
  section .grid-containerTrips {
    grid-template-columns: 1fr;
  }
}
#rrss {
  width: 80px;
}

@media (max-width: 992px) {
  #footer--col {
    padding-top: 0;
  }
}
.btn {
  border-radius: 3px;
  height: 40px;
  width: 150px;
}
.btn--seeMore {
  background-color: rgba(0, 0, 0, 0.678);
  color: rgb(250, 239, 239);
}
.btn:hover {
  color: rgb(184, 184, 184);
  transition: 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.678);
  color: rgba(0, 0, 0, 0.678);
}
.btn--form {
  background-color: rgba(58, 50, 50, 0.685);
  color: rgb(250, 239, 239);
}

.nav-item:hover {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(33, 37, 41, 0.75);
}/*# sourceMappingURL=main.css.map */