@import '../scss/base/colors';
@import '../scss/components/header';
@import '../scss/components/sections';
@import '../scss/components/footer';
@import '../scss/components/buttons';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    font-family: 'Roboto', sans-serif;
}


a{
    text-decoration: none;
    color: rgba(33, 37, 41, 0.75);
}
