
// NAVEGACION CONTACT- FAQS - TRIPS
.navbar-brand{
    width: 90px;
}
// HEADER INDEX
header{
    height: 100vh;
    .portada{
        height: 80%;
        position: relative;
        text-align: center;
        overflow: hidden;
    nav{
        height: 20%;
        }
        .titulo{
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .img-portada{
            width: 100%;
            height: 80vh;
            object-fit: cover;
            opacity: 0.8;
        }
    }
}
div{   
    .titulo-principal{
        font-size: 40px;
        margin-top: 50px;
        font-weight: bold;
    }
}



