
// NAVEGACION CONTACT- FAQS - TRIPS
.navbar-brand{
    width: 90px;
}
// HEADER INDEX
header{
    height: 93vh;
    .portada{
        position: relative;
        display: inline-block;
        text-align: center;
        overflow: hidden;
        max-width: 100%;
        .titulo{
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .img-portada{
            width: 100vw;
            height: 90vh;
            object-fit: cover;
        }
    }
}
div{   
    .titulo-principal{
        font-size: 50px;
        margin-top: 100px;
        font-weight: bold;
    }
}



