.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px auto;
    .grid-item{
        justify-content: center;
        text-align: center;
        margin: 0 20px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        & img{
            width: 250px;
            height: 250px;
            object-fit: cover;
            margin: 10px auto;
            
        }
    }
}



#tripsInfo{
    height: 120px;
}

/* SECTION TRIPS CSS */


.grid-containerTrips{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    & img{
        width: 100%;
        height: auto;
        object-fit: cover;
        &:hover{
            transform: scale(1.1);
            transition: 0.5s;
        }
        
    }
    
}



@media (max-width: 992px){
    .nav-item{
        text-align: center;
    }
    .grid-container{
        grid-template-columns: 1fr;
        margin: 20px 0;
        .grid-item{
            margin: 20px 0;
            padding: 20px;
            & img{
                width: 250px;
                height: 250px;
                object-fit: cover;
                margin: 10px auto;
                
            }
        }
    }
    .grid-containerTrips{
        grid-template-columns: 1fr;
    }
    #about{
        padding: 50px;
    }
    .titulo-principal{
        margin-top: 20px;
    }
    
}